<nav class="space-x-4">
    <div class="relative inline-block group">
        <a class="hover:text-cyan-200" href="/katalog/">Katalog</a>
        <div class="absolute left-0 hidden group-hover:block bg-gray-800 text-white mt-1 rounded shadow-lg">
            <a class="block px-4 py-2 hover:bg-gray-700" href="/katalog/huepfburgen/">Hüpfburgen</a>
            <a class="block px-4 py-2 hover:bg-gray-700" href="/katalog/gesellschaftsspiele/">Gesellschaftsspiele</a>
            <a class="block px-4 py-2 hover:bg-gray-700" href="/katalog/funfood/">FunFood</a>
        </div>
    </div>
    <a class="hover:text-cyan-200" href="/ueber-uns/">Über uns</a>
    <a class="hover:text-cyan-200" href="/kontakt/">Kontakt</a>
</nav>
